<%- include("../partials/htmlHead.ejs") -%>

    <title>كورسات الطلاب</title>
    
</head>

<body>


    <!-- container of website -->
    <div class="container-fluid-xxl bg-white p-0">
        <%- include("../partials/preloader.ejs") -%>
        

        <!-- Navbar & Hero Start -->
        <div class="container-fluid-xxl w-100 position-relative mb-sm-0 p-0">
            
            <%- include("../partials/navbar.ejs") -%>
            
            <div class="container-fluid-xxl w-100 py-5 hero-header">
                <span class="dotsUpToDown animate__animated animate__infinite animate__slow animate__fadeInDown"></span>
                <span class="dotsDownToUp animate__animated animate__infinite animate__fadeOutUp animate__delay-3s"></span>
                <% if(!user && !admin) { %>
                <span class="circlesRotate animate__animated animate__infinite animate__fadeIn d-xl-block d-sm-none"></span>
                <% } %>  
                
                <span class="arrowsUp animate__animated animate__infinite animate__fadeInUpBig"></span>
                <span class="waves"></span>
                <div class="container-fluid my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">

                        <div class="col-lg-6 text-center welcome text-lg-start d-flex justify-content-center align-content-center flex-column ">
                            <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">هذه الصفحة مخصصه </p>
                            <p class="headtext pb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">للقيام بالعمليات المختلفة على</p>
                            <p class="headtext animate__animated animate__repeat-2 animate__flash fw-bold " dir="rtl" style="position: relative; bottom: 35px; font-size: 2.5rem;">الكورسات</p>
                    <% if(!user && !admin) { %>

                            <a href="/login" class="btn btnheadstyle mainSubscBtn py-sm-3 px-sm-5 rounded-pill me-3 animate__animated animate__slideInLeft fs-3"><b>اشترك الان</b> </a>
                            <!-- <a href="" class="btn btnheadstyle  py-sm-3 px-sm-5 rounded-pill animated slideInRight"> </a> -->
                    <% } %>  
                        
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid mrimg mrimgresponsive animate__animated animate__fadeInUp" src="/assets/img/1 copy.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


    <!-- intro -->

    <div class="container-fluid-xxl position-relative mb-0 p-0" style="min-height: 90vh;">
        <div class="container-fluid-xxl py-5">
           
            <p class="introHeadline mb-4 wow animate__animated animate__fadeInRightBig fw-bold" data-wow-offset="350" >الكورسات المتاحة</p>
           
            <div class="carouselIntro wow animate__animated animate__fadeInUp fw-bold" data-wow-offset="350">
                <div id="myCarousel" class="carousel slide d-flex justify-content-center align-content-center"  data-bs-ride="carousel">
                    <table class="table text-center table-info table-striped" style="width: 80%; margin: 70px;" dir="rtl">
                        <thead>
                          <tr class="fw-bolder fs-5">
                            <th scope="col">#</th>
                            <th scope="col">اسم الكورس</th>
                            <th scope="col">المرحلة الدراسية</th>
                            <th scope="col">شهر</th>
                            <th scope="col">سعر الكورس</th>
                            <th scope="col">العمليات على الكورس</th>
                          </tr>
                        </thead>
                        <tbody>
                    <% let i =1 %>
                    <% for (let course of courses) { %> 
                          <tr>
                            <th scope="row"><%= i %></th>
                            <td><%= course.courseName %></td>
                            <td><%= course.educationalLevel %></td>
                            <td><%= course.month %></td>
                            <td> <%= course.price %> جنيه </td>
                            <td>
                                <a href="/adminCourses/<%=course.counter%>" class="btn btn-primary">عرض محتوى الكورس  </a>
                                <button class="btn btn-danger m-3"> حذف الكورس </button>
                            </td>
                          </tr>
                          <% i++ %>
                    <% } %>
                        </tbody>
                      </table>






                  </div>
            </div>

            
        </div>
    </div>

        


        

        <%- include("../partials/footer.ejs") -%>

        <!-- Back to Top -->
        <a href="#" class="btn back-to-top btn-lg btn-lg-square  pt-2" aria-label="up"></a>
    </div>

 

    <%- include("../partials/jsScripts.ejs") -%>
