<%- include("partials/htmlHead.ejs") -%>
<!-- Write here the title of the page -->
<title>امتحانات مجانية</title>

<!-- write here the rest of the css custom style of this current page for example -->
    <!-- <link rel="stylesheet" href="/style.css"> 
    /
    /
    /
    -->

  </head>

<body>
  

<%- include("partials/preloader.ejs") -%>
<%- include("partials/preheader.ejs") -%>
<%- include("partials/navbar.ejs") -%>
<!-- write your content of the page what is below your navbar ... 
  /
  /
  /
-->
<div id="portfolio" class="our-portfolio section">
  <div class="container" >
    <div class="row" style="direction: rtl;">
      <div class="col-lg-5">
        <div class="section-heading wow fadeInLeft border border-danger"  data-wow-duration="1s" data-wow-delay="0.3s">
          <!-- <h6>اخر ما تمت</h6> -->
          <h4 style="direction: rtl;"> آخر ما تمت <em>مشاهدته</em></h4>
          <!-- <div class="line-dec"></div> -->
        </div>
      </div>
    </div>
  </div>

  <div class="container-fluid wow fadeIn portLeftToRight" data-wow-duration="1s" data-wow-delay="0.7s">
    <div class="row">
      <div class="col-lg-12">
        <div class="loop owl-carousel">
          <div class="item">
            <a href="#">
              <div class="portfolio-item">
              <div class="thumb">
                <img src="/assets/images/portfolio-01.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>1</h4>
                <span>Marketing</span>
              </div>
            </div>
            </a>  
          </  div>
          <div class="item">
            <a href="#">
              <div class="portfolio-item">
              <div class="thumb">
                <img src="/assets/images/portfolio-01.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>2</h4>
                <span>Marketing</span>
              </div>
            </div>
            </a>  
          </div>
          <div class="item">
            <a href="#">
              <div class="portfolio-item">
              <div class="thumb">
                <img src="/assets/images/portfolio-02.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>3</h4>
                <span>Marketing</span>
              </div>
            </div>
            </a>  
          </div>
          <div class="item">
            <a href="#">
              <div class="portfolio-item">
              <div class="thumb">
                <img src="/assets/images/portfolio-03.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>4</h4>
                <span>Marketing</span>
              </div>
            </div>
            </a>  
          </div>
          <div class="item">
            <a href="#">
              <div class="portfolio-item">
              <div class="thumb">
                <img src="/assets/images/portfolio-04.jpg" alt="">
              </div>
              <div class="down-content">
                <h4>5</h4>
                <span>Marketing</span>
              </div>
            </div>
            </a>  
          </div>
        </div>
      </div>
    </div>
  </div>
</div>


<div id="blog" class="blog">
  <div class="container">
    <div class="row">
      <div class="col-lg-4 offset-lg-4  wow fadeInDown" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="section-heading">
          <!-- <h6>Recent News</h6> -->
          <h4>دروسي و <em>كويزاتي</em></h4>
          <div class="line-dec"></div>
        </div>
      </div>
      <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="blog-post">
          <div class="thumb">
            <a href="#"><img src="/assets/images/blog-post-01.jpg" alt=""></a>
          </div>
          <div class="down-content">
            <span class="category"><a href="/courseList">ترم ثان </a></span>
            <span class="date">04 August 2021</span>
            <a href="#"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adelore
              Eiusmod Tempor Incididunt</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers itii eiumod deis tempor incididunt ut labore.</p>
            <span class="author"><img src="/assets/images/author-post.jpg" alt="">By: Andrea Mentuzi</span>
            <div class="border-first-button"><a href="#">محتوى الترم</a></div>
          </div>
        </div>
      </div>
      <div class="col-lg-6 show-up wow fadeInUp" data-wow-duration="1s" data-wow-delay="0.3s">
        <div class="blog-post">
          <div class="thumb">
            <a href="#"><img src="/assets/images/blog-post-01.jpg" alt=""></a>
          </div>
          <div class="down-content">
            <span class="category"><a href="/courseList">ترم أول </a></span>
            <span class="date">03 August 2021</span>
            <a href="#"><h4>Lorem Ipsum Dolor Sit Amet, Consectetur Adelore
              Eiusmod Tempor Incididunt</h4></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed doers itii eiumod deis tempor incididunt ut labore.</p>
            <span class="author"><img src="/assets/images/author-post.jpg" alt="">By: Andrea Mentuzi</span>
            <div class="border-first-button"><a href="#">محتوى الترم</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include("partials/footer.ejs") -%>

<%- include("partials/jsScripts.ejs") -%>

<!-- write here custom js scripts to handle events... 
  /
  /
  /
if any error happend try to change the order and write your script below the jsScripts -->