<%- include("partials/htmlHead.ejs") -%>

  <title>كورساتي</title>  

</head>

<body>
  
  <div class="container-fluid-xxl bg-white p-0">

    <%- include("partials/preloader.ejs") -%>
    
    <!-- Navbar & Hero Start -->
    <div class="container-fluid-xxl position-relative mb-5 p-0" >
        
        <%- include("partials/navbar.ejs") -%>
        
        <div class="container-fluid-xxl py-5 hero-header">
            <span class="dotsUpToDown animated infinite fadeInDown"></span>
            <span class="dotsDownToUp animated infinite fadeInUp"></span>
            <% if(!user) { %>
            <span class="circlesRotate animated infinite fadeIn d-xl-block d-sm-none"></span>
            <% } %>  
            
            <span class="arrowsUp animated infinite fadeInUpBig"></span>
            <span class="waves"></span>
            <div class="container-fluid my-5 py-5 px-lg-5">
                <div class="row g-5 py-5">

                    <div class="col-lg-6 text-center welcome text-lg-start d-flex justify-content-center align-content-center flex-column">
                        <p class="headtext mb-4 animated zoomIn fw-bold fs-1"> اسم الكورس </p>
                <% if(!user) { %>

                        <a href="login" class="btn btnheadstyle mainSubscBtn py-sm-3 px-sm-5 rounded-pill me-3 animated slideInLeft fs-3"><b>اشترك الان</b> </a>
                        <!-- <a href="" class="btn btnheadstyle  py-sm-3 px-sm-5 rounded-pill animated slideInRight"> </a> -->
                <% } %>  
                    
                    </div>
                    <div class="col-lg-6 text-center text-lg-start">
                        <img class="img-fluid mrimg" src="/assets/img/24784265_vif2_4m00_220302-removebg-preview.webp" style="margin-top: -70px;" alt="">
                    </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <div class="container-fluid-xxl position-relative mb-5 p-0 d-flex justify-content-center" >
      <div class="accordion col-10" id="accordionPanelsStayOpenExample">
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                Accordion Item #1
              </button>
            </h2>
            <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show">
              <div class="accordion-body">
                <strong>This is the first item's accordion body.</strong> It is shown by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                Accordion Item #2
              </button>
            </h2>
            <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>This is the second item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
          <div class="accordion-item">
            <h2 class="accordion-header">
              <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                Accordion Item #3
              </button>
            </h2>
            <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
              <div class="accordion-body">
                <strong>This is the third item's accordion body.</strong> It is hidden by default, until the collapse plugin adds the appropriate classes that we use to style each element. These classes control the overall appearance, as well as the showing and hiding via CSS transitions. You can modify any of this with custom CSS or overriding our default variables. It's also worth noting that just about any HTML can go within the <code>.accordion-body</code>, though the transition does limit overflow.
              </div>
            </div>
          </div>
        </div>
    </div>
    <%- include("partials/footer.ejs") -%>
  
  </div>

    <%- include("partials/jsScripts.ejs") -%>
    