<%- include("partials/htmlHead.ejs") -%>
<!-- Write here the title of the page -->
<title>امتحانات مجانية</title>

<!-- write here the rest of the css custom style of this current page for example -->
    <!-- <link rel="stylesheet" href="/style.css"> 
    /
    /
    /
    -->

  </head>

<body>
  

<%- include("partials/preloader.ejs") -%>
<%- include("partials/navbar.ejs") -%>
<!-- write your content of the page what is below your navbar ... 
  /
  /
  /
-->
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
<div>loooooooool</div>
</div>
<%- include("partials/footer.ejs") -%>

<%- include("partials/jsScripts.ejs") -%>

<!-- write here custom js scripts to handle events... 
  /
  /
  /
if any error happend try to change the order and write your script below the jsScripts -->