<%- include("partials/htmlHead.ejs") -%>

    <title>Hyper Physics</title>
    
</head>

<body>


    <!-- container of website -->
    <div class="container-fluid-xxl bg-white p-0">
        <%- include("partials/preloader.ejs") -%>
        

        <!-- Navbar & Hero Start -->
        <div class="container-fluid-xxl w-100 position-relative mb-sm-0 p-0">
            
            <%- include("partials/navbar.ejs") -%>
            
            <div class="container-fluid-xxl w-100 py-5 hero-header">
                <span class="dotsUpToDown animate__animated animate__infinite animate__slow animate__fadeInDown"></span>
                <span class="dotsDownToUp animate__animated animate__infinite animate__fadeOutUp animate__delay-3s"></span>
                <% if(!user) { %>
                <span class="circlesRotate animate__animated animate__infinite animate__fadeIn d-xl-block d-sm-none"></span>
                <% } %>  
                
                <span class="arrowsUp animate__animated animate__infinite animate__fadeInUpBig"></span>
                <span class="waves"></span>
                <div class="container-fluid my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">

                        <div class="col-lg-6 text-center welcome text-lg-start d-flex justify-content-center align-content-center flex-column ">
                            <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">مرحبا بكم في  </p>
                            <p class="headtext pb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">منصة Hyper Physics للفيزياء </p>
                            <p class="headtext animate__animated animate__repeat-2 animate__flash fw-bold " dir="rtl" style="position: relative; bottom: 35px; font-size: 2.5rem;">م/ محمد رمضان</p>
                    <% if(!user) { %>

                            <a href="/login" class="btn btnheadstyle mainSubscBtn py-sm-3 px-sm-5 rounded-pill me-3 animate__animated animate__slideInLeft fs-3"><b>اشترك الان</b> </a>
                            <!-- <a href="" class="btn btnheadstyle  py-sm-3 px-sm-5 rounded-pill animated slideInRight"> </a> -->
                    <% } %>  
                        
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid mrimg mrimgresponsive animate__animated animate__fadeInUp" src="/assets/img/1 copy.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


    <!-- intro -->

    <div class="container-fluid-xxl position-relative mb-0 p-0">
        <div class="container-fluid-xxl py-5 intro-header">
            <span class="introTopRight d-xxl-block" style="z-index: 1000;"></span>
            <span class="introBottomLeft "></span>
            <span class="dotsDownToUpIntro animate__animated animate__infinite animate__fadeInUp"></span>
              
            <!-- data-wow-delay="0.6s" -->
            <p class="introHeadline mb-4 wow animate__animated animate__fadeInRightBig fw-bold" data-wow-offset="350" > عن المنصة </p>
            
            <div class="carouselIntro wow animate__animated animate__fadeInUp fw-bold" data-wow-offset="350">
                <div id="myCarousel" class="carousel slide d-flex justify-content-center align-content-center"  data-bs-ride="carousel">
                    <div class="carousel-indicators ">
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                    </div>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
                            <img class="mrImgAbout firstImg" src="/assets/img/1 copy.webp" alt="">
                            <div class="container text-center">
                              <div class="carousel-caption firstCaption text-center">
                                <h1>منصة مستر / محمد رمضان الطنطاوي </h1>
                                <p class="fs-5">تخرج من كلية التربية - قسم علوم- جامعة طنطا </p>
                                <% if(!user) { %>
                                    <p><a class="btn btnheadstyle subscBtn fw-bolder" href="/login">اشترك الآن</a></p>
                                <% } %>
                            </div>
                            </div>
                          </div>
                        <div class="carousel-item ">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
                        <img class="animated secondImg" src="/assets/img/8610200_5891.webp" alt="">
                        <div class="container">
                          <div class="carousel-caption text-center secondCaption">
                            <h1>معانا النجاح مضمون</h1>
                            <p class="fs-5">المنصة بتقدم كل الوسائل اللي ممكن تساعدك ولحد عندك</p>
                        <% if(!user) { %>
                            <p><a class="btn btnheadstyle subscBtn fw-bolder" href="/login">اشترك الآن</a></p>
                        <% } %>    
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item">
                        <img class="animated thirdImg" src="/assets/img/13146648_Students-watching-webinar-on-computer.webp" alt="">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
                        <div class="container d-flex justify-content-center align-content-center">
                          <div class="carousel-caption text-center thirdCption">
                            <h1>ومش بس كدا</h1>
                            <p class="fs-5">وكمان بنقدم محاضرات وامتحانات مجانية</p>
                            <p><a class="btn btnheadstyle subscBtn fw-bolder" href="/#services">المحاضرات المجانية</a></p>
                            <p><a class="btn btnheadstyle subscBtn fw-bolder" href="/freeExams">الامتحانات المجانية</a></p>                         
                        </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" style="z-index: 999;" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" style="z-index: 999;" data-bs-target="#myCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>

            
        </div>
    </div>

        

        <!-- Free Lectures Start -->
        <div class="container-fluid-xxxl position-relative mb-0 p-0" id="services">
            <div class="container-fluid-xxl py-5 freeLec">

                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="mt-2">المحاضرات المجانية </h2>
                </div>
                
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="btn px-3 pe-4 fw-bold fs-4 grade" data-filter=".third" id="thirdGrade">الصف الثالث الثانوي </li>
                            <li class="btn px-3 pe-4 fw-bold fs-4 grade" data-filter=".second">الصف الثاني الثانوي</li>
                            <li class="btn px-3 pe-4 active fw-bold fs-4 grade" data-filter=".first">الصف الاول الثانوي </li>
                        </ul>
                    </div>
                </div>
                <div class="soonFreeLec">
                    <span>قريبا</span>
                </div>

                <!-- <div class=" portfolio-container d-flex justify-content-around flex-wrap" >
                    <div class="firstGradeContainer">
                        <div class=" portfolio-item first wow zoomIn " data-wow-delay="0.3s">
                            
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid" src="/assets/img/colorful-image-road-with-lights-it.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/colorful-image-road-with-lights-it.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>الدرس الثاني : العجلة</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="">اضغط للمشاهدة </a>
                                    </div>
                                </div>
                            </div>

                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid" src="/assets/img/22745545_i0ox_ffi4_211224.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/22745545_i0ox_ffi4_211224.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>الدرس الثالث : القوة والحركة</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="">اضغط للمشاهدة</a>
                                    </div>
                                </div>
                            </div>

                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/img/colorful-image-road-with-lights-it.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/colorful-image-road-with-lights-it.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <div class=" portfolio-item first wow zoomIn " data-wow-delay="0.6s">
                            
                        </div>
                    </div>
                    
                    <div class="col-lg-3 col-md-6 portfolio-item second wow zoomIn " data-wow-delay="0.1s">
                        
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item second wow zoomIn" data-wow-delay="0.3s">
                        <div class="portfolio-item-container rounded overflow-hidden">
                            <img class="img-fluid w-100" src="/assets/img/colorful-image-road-with-lights-it.webp" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="/assets/img/colorful-image-road-with-lights-it.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item second wow zoomIn" data-wow-delay="0.3s">
                        <div class="portfolio-item-container rounded overflow-hidden">
                            <img class="img-fluid w-100" src="/assets/img/colorful-image-road-with-lights-it.webp" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="/assets/img/colorful-image-road-with-lights-it.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item third wow zoomIn" data-wow-delay="0.6s">
                        <div class="portfolio-item-container rounded overflow-hidden">
                            <img class="img-fluid w-100" src="/assets/img/SI-Landing-graphic__ResizedImageWzYwMCw2MDBd.webp" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="/assets/img/SI-Landing-graphic__ResizedImageWzYwMCw2MDBd.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item third wow zoomIn" data-wow-delay="0.6s">
                        <div class="portfolio-item-container rounded overflow-hidden">
                            <img class="img-fluid w-100" src="/assets/img/SI-Landing-graphic__ResizedImageWzYwMCw2MDBd.webp" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="/assets/img/SI-Landing-graphic__ResizedImageWzYwMCw2MDBd.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 portfolio-item third wow zoomIn" data-wow-delay="0.6s">
                        <div class="portfolio-item-container rounded overflow-hidden">
                            <img class="img-fluid w-100" src="/assets/img/SI-Landing-graphic__ResizedImageWzYwMCw2MDBd.webp" alt="">
                            <div class="portfolio-overlay">
                                <a class="btn btn-light" href="/assets/img/SI-Landing-graphic__ResizedImageWzYwMCw2MDBd.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                <div class="mt-auto">
                                    <small class="text-white"><i class="fa fa-folder me-2"></i>Web Design</small>
                                    <a class="h5 d-block text-white mt-1 mb-0" href="">Project Name</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>-->

            </div>
        </div> 
        <!-- Portfolio End -->


 <!-- Service Start -->
 <!-- <div class="container-xxxl py-5">
    <div class="container px-lg-5">
        <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s"> -->
            <!-- <h6 class="position-relative d-inline text-primary ps-4">المذكرات </h6> -->
            <!-- <h2 class="mt-2">المذكرات</h2>
        </div>
        <div class="row g-4">
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">SEO Optimization</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Web Design</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Social Media Marketing</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.1s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">Email Marketing</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.3s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">PPC Advertising</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 wow zoomIn" data-wow-delay="0.6s">
                <div class="service-item d-flex flex-column justify-content-center text-center rounded">
                    <div class="service-icon flex-shrink-0">
                        <i class="fa fa-home fa-2x"></i>
                    </div>
                    <h5 class="mb-3">App Development</h5>
                    <p>Erat ipsum justo amet duo et elitr dolor, est duo duo eos lorem sed diam stet diam sed stet lorem.</p>
                    <a class="btn px-3 mt-auto mx-auto" href="">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div> -->
<!-- Service End -->

        

        <%- include("partials/footer.ejs") -%>

        <!-- Back to Top -->
        <a href="#" class="btn back-to-top btn-lg btn-lg-square  pt-2" aria-label="up"></a>
    </div>

   <script>
    // to avoid the problem of stacked cards below المحاضرات المجانية
            window.onload = function() {
                 // Get a reference to the element you want to click
                const thirdGrade = document.getElementById('thirdGrade');
                // Trigger a click event on the element
                if (thirdGrade) {
                    thirdGrade.click();
                }
            };
   </script>

    <%- include("partials/jsScripts.ejs") -%>
