<%- include("partials/htmlHead.ejs") -%>

    <title>Hyper Physics</title>
    
</head>

<body>


    <!-- container of website -->
    <div class="container-fluid-xxl bg-white p-0">
        <%- include("partials/preloader.ejs") -%>
        

        <!-- Navbar & Hero Start -->
        <div class="container-fluid-xxl w-100 position-relative mb-sm-0 p-0">
            
            <%- include("partials/navbar.ejs") -%>
            
            <div class="container-fluid-xxl w-100 py-5 hero-header">
                <span class="dotsUpToDown animate__animated animate__infinite animate__slow animate__fadeInDown"></span>
                <span class="dotsDownToUp animate__animated animate__infinite animate__fadeOutUp animate__delay-3s"></span>
                <% if(!user && !admin) { %>
                <span class="circlesRotate animate__animated animate__infinite animate__fadeIn d-xl-block d-sm-none"></span>
                <% } %>  
                
                <span class="arrowsUp animate__animated animate__infinite animate__fadeInUpBig"></span>
                <span class="waves"></span>
                <div class="container-fluid my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">

                        <div class="col-lg-6 text-center welcome text-lg-start d-flex justify-content-center align-content-center flex-column ">
                    <% if(!admin) { %>
                            
                            <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">مرحبا بكم في  </p>
                            <p class="headtext pb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">منصة Hyper Physics للفيزياء </p>
                            <p class="headtext animate__animated animate__repeat-2 animate__flash fw-bold " dir="rtl" style="position: relative; bottom: 35px; font-size: 2.5rem;">م/ محمد رمضان</p>
                    <% } %>  
                    <% if(admin) { %>
                        <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">مرحبا Admin   </p>
                    <% } %>  

                    <% if(!user && !admin ) { %>
                            <a href="/login" class="btn btnheadstyle mainSubscBtn py-sm-3 px-sm-5 rounded-pill me-3 animate__animated animate__slideInLeft fs-3"><b>اشترك الان</b> </a>
                    <% } %>  
                        
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid mrimg mrimgresponsive animate__animated animate__fadeInUp" src="/assets/img/1 copy.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->


    <!-- intro -->
    <% if(!admin){ %>

    <div class="container-fluid-xxl position-relative mb-0 p-0">
        <div class="container-fluid-xxl py-5 intro-header">
            <span class="introTopRight d-xxl-block" style="z-index: 1000;"></span>
            <span class="introBottomLeft "></span>
            <span class="dotsDownToUpIntro animate__animated animate__infinite animate__fadeInUp"></span>
              
            <!-- data-wow-delay="0.6s" -->
            <p class="introHeadline mb-4 wow animate__animated animate__fadeInRightBig fw-bold" data-wow-offset="350" > عن المنصة </p>
            
            <div class="carouselIntro wow animate__animated animate__fadeInUp fw-bold" data-wow-offset="350">
                <div id="myCarousel" class="carousel slide d-flex justify-content-center align-content-center"  data-bs-ride="carousel">
                    <div class="carousel-indicators ">
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                      <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                    </div>
                    <div class="carousel-inner" ">
                        <div class="carousel-item active" data-bs-interval="10000">
                            <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
                            <img class="mrImgAbout firstImg" src="/assets/img/1 copy.webp" alt="">
                            <div class="container text-center">
                              <div class="carousel-caption firstCaption text-center">
                                <h1>منصة مستر / محمد رمضان الطنطاوي </h1>
                                <p class="fs-5">تخرج من كلية العلوم - جامعة القاهرة - حاصل علي درجة الماجستير في الفيزياء  </p>
                                 
                                <% if(!user && !admin) { %>
                                    <p><a class="btn btnheadstyle subscBtn fw-bolder" href="/login">اشترك الآن</a></p>
                                <% } %>
                            </div>
                            </div>
                          </div>
                        <div class="carousel-item" data-bs-interval="10000">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
                        <img class="animated secondImg" src="/assets/img/8610200_5891.webp" alt="">
                        <div class="container">
                          <div class="carousel-caption text-center secondCaption">
                            <h1>معانا النجاح مضمون</h1>
                            <h1> مع خبرة أكثر من 5 سنوات </h1>
                            <p class="fs-5">المنصة بتقدم كل الوسائل اللي ممكن تساعدك ولحد عندك</p>
                        <% if(!user && !admin) { %>
                            <p><a class="btn btnheadstyle subscBtn fw-bolder" href="/login">اشترك الآن</a></p>
                        <% } %>    
                          </div>
                        </div>
                      </div>
                      <div class="carousel-item" data-bs-interval="10000">
                        <img class="animated thirdImg" src="/assets/img/13146648_Students-watching-webinar-on-computer.webp" alt="">
                        <!-- <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="var(--bs-secondary-color)"></rect></svg> -->
                        <div class="container d-flex justify-content-center align-content-center">
                          <div class="carousel-caption text-center thirdCption">
                            <h1>ومش بس كدا</h1>
                            <p class="fs-5">وكمان بنقدم محاضرات وامتحانات مجانية</p>
                            <p><a class="btn btnheadstyle subscBtn fw-bolder" href="/#services">المحاضرات المجانية</a></p>
                            <p><a class="btn btnheadstyle subscBtn fw-bolder" href="/freeExams">الامتحانات المجانية</a></p>                         
                        </div>
                        </div>
                      </div>
                    </div>
                    <button class="carousel-control-prev" style="z-index: 999;" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Previous</span>
                    </button>
                    <button class="carousel-control-next" type="button" style="z-index: 999;" data-bs-target="#myCarousel" data-bs-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="visually-hidden">Next</span>
                    </button>
                  </div>
            </div>

            
        </div>
    </div>

        

        <!-- Free Lectures Start -->
        <div class="container-fluid-xxxl position-relative mb-0 p-0" id="services"  style="display: none;">
            <div class="container-fluid-xxl py-5 freeLec">
                <br>
                <br>
                <div class="section-title position-relative text-center mb-5 pb-2 wow fadeInUp" data-wow-delay="0.1s">
                    <h2 class="mt-2">المحاضرات المجانية </h2>
                </div>
                
                <div class="row mt-n2 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="col-12 text-center">
                        <ul class="list-inline mb-5" id="portfolio-flters">
                            <li class="btn px-3 pe-4 fw-bold fs-4 grade" data-filter=".third" id="thirdGrade">الصف الثالث الثانوي </li>
                            <li class="btn px-3 pe-4 fw-bold fs-4 grade" data-filter=".second">الصف الثاني الثانوي</li>
                            <li class="btn px-3 pe-4 active fw-bold fs-4 grade" data-filter=".first">الصف الاول الثانوي </li>
                        </ul>
                    </div>
                </div>
                <!-- <div class="soonFreeLec">
                    <span>قريبا</span>
                </div> -->

                <div class=" portfolio-container d-flex justify-content-around flex-wrap"  >
                    <div class="secondGradeContainer d-flex justify-content-around align-content-around">
                        <div class=" portfolio-item first wow zoomIn " data-wow-delay="0.3s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid" src="/assets/img/firstGrade 1.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/firstGrade 1.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>شرح الصف الأول الثانوي</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#">   قريبا  </a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class=" portfolio-item first wow zoomIn " data-wow-delay="0.3s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid" src="/assets/img/firstGrade 2.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/number-2.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2">حل كتب خارجية الصف الأول الثانوي</i></small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#"> قريبا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class=" portfolio-item first wow zoomIn " data-wow-delay="0.3s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/img/firstGrade 3.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/firstGrade 3.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>مراجعة دورية الصف الأول الثانوي</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#"> قريبا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    

                    <div class="secondGradeContainer d-flex justify-content-around align-content-around">
                        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item second wow zoomIn " data-wow-delay="0.1s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/img/secondGrade 1.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/secondGrade 1.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>شرح الصف الثاني الثانوي</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#"> قريبا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item second wow zoomIn" data-wow-delay="0.3s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/img/secondGrade 2.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/secondGrade 2.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>حل كتب خارجية الصف الثاني الثانوي</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#"> قريبا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 col-sm-12 portfolio-item second wow zoomIn" data-wow-delay="0.3s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/img/secondGrade 3.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/secondGrade 3.webp" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>مراجعة دورية الصف الثاني الثانوي</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#"> قريبا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="thirdGradeContainer">
                        <div class="col-lg-3 col-md-6 portfolio-item third wow zoomIn" data-wow-delay="0.6s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/img/thirdGrade 1.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/thirdGrade 1.webp" aria-label="thirdGrade" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>شرح الصف الثالث الثانوي</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#"> قريبا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 portfolio-item third wow zoomIn" data-wow-delay="0.6s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/img/thirdGrade 2.webp" alt="">
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/thirdGrade 2.webp" aria-label="thirdGrade" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>حل كتب خارجية الصف الثالث الثانوي</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#"> قريبا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-3 col-md-6 portfolio-item third wow zoomIn" data-wow-delay="0.6s">
                            <div class="portfolio-item-container rounded overflow-hidden">
                                <img class="img-fluid w-100" src="/assets/img/thirdGrade 3.webp" alt="" >
                                <div class="portfolio-overlay">
                                    <a class="btn btn-light" href="/assets/img/thirdGrade 3.webp" aria-label="thirdGrade" data-lightbox="portfolio"><i class="fa fa-plus fa-2x text-primary"></i></a>
                                    <div class="mt-auto">
                                        <small class="text-white"><i class="fa fa-folder me-2"></i>مراجعة دورية الصف الثالث الثانوي</small>
                                        <a class="h5 d-block text-white mt-1 mb-0" href="#"> قريبا</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                


            </div>
        </div> 
        <!-- Portfolio End -->


        <div class="container-fluid-xxl position-relative mb-0 p-0">
            <div class="container-fluid-xxl py-5 intro-header">
                <span class="introTopRight d-xxl-block" style="z-index: 1000;"></span>
                <span class="introBottomLeft "></span>
                <span class="dotsDownToUpIntro animate__animated animate__infinite animate__fadeInUp"></span>
                  
                <!-- data-wow-delay="0.6s" -->
                <p class="introHeadline mb-4 wow animate__animated animate__fadeInRightBig fw-bold" style="position: absolute; top:75px" > كيفية الدفع</p>
                
                <div class="carouselIntro fw-bold" >
                    <div id="myCarousel" class="carousel slide d-flex justify-content-center align-content-center" data-bs-ride="carousel">
                        <div class="carousel-indicators ">
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-label="Slide 1" aria-current="true"></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                          <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class=""></button>
                        </div>
                        <div class="carousel-inner" >
                            <div class="carousel-item active" data-bs-interval="15000">


                                <img class="mrImgAbout firstImg" src="/assets/img/1 copy.webp" alt="">
                                <div class="container text-center">
                                  <div class="carousel-caption firstCaption text-center">
                                    <h1>أولا</h1>
                                    <p class="fs-5"> :لحجز الكورسات <br> يتم الدخول لصفحة كورساتي والضغط على اشترك الان للشهر المراد حجزه وستصل رسالة الى الادمن باسمك ورقم هاتفك</p>
                                    <p class="fs-5"> : لحجز المذكرات والملازم<br>  يتم الدخول لصفحة مذكراتي ويتم تعبئة البيانات اللازمة وستصل رسالة الى الادمن</p>   
                                  </div>
                                </div>
                              </div>
                            <div class="carousel-item " data-bs-interval="15000">
                                <img class="mrImgAbout firstImg" src="/assets/img/1 copy.webp" alt="">
                                <div class="container text-center">
                                  <div class="carousel-caption text-center">
                                    <h1>ثانيا</h1>
                                    <p class="fs-5"> :لحجز الكورسات <br> يتم الدفع عن طريق فودافون كاش وتحويل المبلغ المطلوب على رقم موبايل 01028401411</p>
                                    <p class="fs-5"> : لحجز المذكرات والملازم<br> يتم الدفع عن طريق فودافون كاش وتحويل المبلغ المطلوب على رقم موبايل 01028401411</p>   
                                  </div>
                                </div>
                          </div>
                          <div class="carousel-item" data-bs-interval="15000">
                            <img class="mrImgAbout firstImg" src="/assets/img/1 copy.webp" alt="">
                                <div class="container text-center">
                                  <div class="carousel-caption text-center">
                                    <h1>ثالثا</h1>
                                    <p class="fs-5"> : لحجز الكورسات والمذكرات <br> بعد تحويل المبلغ من خلال فودافون كاش الرجاء التواصل على تطبيق تلجرام على رقم موبايل 01028401411 وابلاغ الادمن برقم الهاتف وصورة من تحويل فودافون كاش</p>
                                  </div>
                                </div>
                          </div>
                        </div>
                        <button class="carousel-control-prev" style="z-index: 99999;" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
                          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" style="z-index: 99999;" data-bs-target="#myCarousel" data-bs-slide="next">
                          <span class="carousel-control-next-icon" aria-hidden="true"></span>
                          <span class="visually-hidden">Next</span>
                        </button>
                      </div>
                </div>
    
                
            </div>
        </div>
    
        <% } %>

        

        <%- include("partials/footer.ejs") -%>

        <!-- Back to Top -->
        <a href="#" class="btn back-to-top btn-lg btn-lg-square  pt-2" aria-label="up"></a>
    </div>

   <script>
    // to avoid the problem of stacked cards below المحاضرات المجانية
            window.onload = function() {
                const myElement = document.getElementById('services');
                // console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!%%%%%%%%%%%%%%%%%%%%%%%%%%%%")
                // console.log(myElement)
                // Function to execute when the element is loaded
                // Display the element
                myElement.style.display = 'block';
            
                
                // Get a reference to the element you want to click
                const thirdGrade = document.getElementById('thirdGrade');
                // Trigger a click event on the element
                if (thirdGrade) {
                    thirdGrade.click();
                }

           
            };
           
            // const myElement = document.getElementById('services');
            // console.log("!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!%%%%%%%%%%%%%%%%%%%%%%%%%%%%")
            // console.log(myElement)
            // // Function to execute when the element is loaded
            // function onElementLoad() {
            // // Display the element
            // myElement.style.display = 'block';
            
            // // Remove the load event listener
            // myElement.removeEventListener('load', onElementLoad);
            // }

            // // Listen for the load event of the element
            // myElement.addEventListener('load', onElementLoad);

   </script>

    <%- include("partials/jsScripts.ejs") -%>
