<%- include("partials/htmlHead.ejs") -%>

<title>كورساتي</title>

    <link rel="stylesheet" href="/assets/css/myCoursesStyle.css">

    

</head>

<body>

  <div class="container-fluid-xxl bg-white p-0">
    <%- include("partials/preloader.ejs") -%>
    

    <!-- Navbar & Hero Start -->
    <div class="container-fluid-xxl w-100 position-relative mb-sm-0 p-0">
        
        <%- include("partials/navbar.ejs") -%>

              <div class="container-fluid-xxl w-100 py-5 hero-header">
                        <span class="dotsUpToDown animate__animated animate__infinite animate__slow animate__fadeInDown"></span>
                        <span class="dotsDownToUp animate__animated animate__infinite animate__fadeOutUp animate__delay-3s"></span>
                        <% if(!user) { %>
                        <span class="circlesRotate animate__animated animate__infinite animate__fadeIn d-xl-block d-sm-none"></span>
                        <% } %>  
                        
                        <span class="arrowsUp animate__animated animate__infinite animate__fadeInUpBig"></span>
                        <span class="waves"></span>
                        <div class="container-fluid my-5 py-5 px-lg-5">
                            <div class="row g-5 py-5">

                                <div class="col-lg-6 text-center welcome text-lg-start d-flex justify-content-center align-content-center flex-column ">
                                    <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">مرحبا بكم في  </p>
                                    <p class="headtext pb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">منصة Hyper Physics للفيزياء </p>
                                    <p class="headtext animate__animated animate__repeat-2 animate__flash fw-bold " dir="rtl" style="position: relative; bottom: 35px; font-size: 2.5rem;">م/ محمد رمضان</p>
                            <% if(!user) { %>

                                    <a href="/login" class="btn btnheadstyle mainSubscBtn py-sm-3 px-sm-5 rounded-pill me-3 animate__animated animate__slideInLeft fs-3"><b>اشترك الان</b> </a>
                                    <!-- <a href="" class="btn btnheadstyle  py-sm-3 px-sm-5 rounded-pill animated slideInRight"> </a> -->
                            <% } %>  
                            <% if (allCourses.length === 0) {%>

                              <div style="text-align: center; color:blueviolet; font-size: 3rem;"> لم يتم إنشاء كورسات بعد </div>

                          <% } %>
                                </div>
                                <div class="col-lg-6 text-center text-lg-start">
                                    <img class="img-fluid mrimg mrimgresponsive animate__animated animate__fadeInUp" src="/assets/img/1 copy.webp" alt="">
                                </div>
                            </div>
                        </div>
              </div>
        </div>

          
        <div class="container-fluid-xxl position-relative mb-0 p-0">
          <div class="container-fluid-xxl py-5 intro-header">
            <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">

                        <div style="margin: 0px auto; width: 70%; display: flex; justify-content: space-around; flex-wrap: wrap; align-items: center;">
                        <!-- flip-card-container -->
                      <% if(subscribedCourseDetails.length === 0 && allCourses.length > 0){  %>
                            <div class="section-heading wow fadeInLeft"  data-wow-duration="1s" data-wow-delay="0.3s">
                              <!-- <h6>اخر ما تمت</h6> -->
                              <h4 style="direction: rtl;">أنت حاليا غير مشترك في أي من الكورسات <br> <em>اختر كورس من الكورسات للحجز</em></h4>
                              <!-- <div class="line-dec"></div> -->
                            </div>
                      <% } else { %> 
                          <h4 style="direction: rtl;"> <em>الكورسات المتاحة حاليا</em></h4>
                      <% } %>
                      

                      <!-- لعرض اللي تم الاشتراك فيه -->

                        <% for (let subscribedCourseDetail of subscribedCourseDetails) { %>

                          <% if(user.educationalLevel === subscribedCourseDetail.educationalLevel ){ %>
                                  <div class="flip-card-container" style="--hue: 220">
                                    <div class="flip-card">
                                  
                                      <div class="card-front">
                                        <figure>
                                          <div class="img-bg"></div>
                                          <img src="/assets/images/portfolio-01.jpg" alt="Brohm Lake">
                                          <figcaption> سنة : <%= subscribedCourseDetail.educationalLevel %> / ترم : <%= subscribedCourseDetail.semester %> </figcaption>
                                        </figure>
                                  
                                        <ul class="ulCourses">
                                          <li class="liCourses courseName"> اسم الكورس :  <%= subscribedCourseDetail.courseName %> </li>
                                            <li class="liCourses courseDescription">الوصف :  <%= subscribedCourseDetail.courseDescription %></li>
                                            <li class="liCourses CourseLevel"> السنة الدراسية :  <%= subscribedCourseDetail.educationalLevel %> ثانوي</li>
                                            <li class="liCourses CourseSemester">الترم :  <%= subscribedCourseDetail.semester %></li>
                                          <li class="liCourses coursePrice">تم الاشتراك اضغط لرؤية المحتوى   </li>
                                        </ul>
                                      </div>
                                  
                                      <div class="card-back">
                                        <figure>
                                          <div class="img-bg"></div>
                                          <img src="/assets/images/portfolio-01.jpg" alt="Brohm Lake">
                                        </figure>
                                  
                                        <button class="buttonCourses course-content"><a href="/myCoursesInfo/<%=subscribedCourseDetail.counter%>/courseList%>">عرض محتوى الكورس</a></button>                                  
                                        <div class="design-container">
                                          <span class="design design--1"></span>
                                          <span class="design design--2"></span>
                                          <span class="design design--3"></span>
                                          <span class="design design--4"></span>
                                          <span class="design design--5"></span>
                                          <span class="design design--6"></span>
                                          <span class="design design--7"></span>
                                          <span class="design design--8"></span>
                                        </div>
                                      </div>
                                  
                                    </div>

                        
                                  </div>

                                <% } %>
                          <% } %>

                      <!-- لعرض اللي متمش الاشتراك فيه -->

                              <% for (let unSubscribedCourseDetail of unSubscribedCourseDetails) { %>
                                  <% if(user.educationalLevel === unSubscribedCourseDetail.educationalLevel ){ %>

                                              <div class="wow fadeInDown fadeEffect" data-wow-duration="1s" data-wow-delay="0.5s">
                                                  <!-- for a course that the student did not subscribe with yet -->
                                                <div class="flip-card-container" style="--hue: 220">
                                                  <div class="flip-card">
                                                
                                                    <div class="card-front">
                                                      <figure>
                                                        <div class="img-bg"></div>
                                                        <img src="/assets/images/portfolio-01.jpg" alt="Brohm Lake">
                                                        <figcaption> سنة : <%= unSubscribedCourseDetail.educationalLevel %> / ترم : <%= unSubscribedCourseDetail.semester %> </figcaption>
                                                      </figure>
                                                
                                                      <ul class="ulCourses">
                                                        <li class="liCourses courseName"> اسم الكورس :  <%= unSubscribedCourseDetail.courseName %> </li>
                                                        <li class="liCourses courseDescription">الوصف :  <%= unSubscribedCourseDetail.courseDescription %></li>
                                                        <li class="liCourses CourseLevel"> السنة الدراسية :  <%= unSubscribedCourseDetail.educationalLevel %> ثانوي</li>
                                                        <li class="liCourses CourseSemester">الترم :  <%= unSubscribedCourseDetail.semester %></li>
                                                        <li class="liCourses coursePrice">السعر :  <%= unSubscribedCourseDetail.price %>  جنيه مصري    </li>
                                                        <li class="liCourses coursePrice">
                                                          <a href="/myCoursesInfo/<%=unSubscribedCourseDetail.counter%>"> اشترك الآن</a>
                                                        </li>

                                                      </ul>
                                                    </div>
                                                
                                                    <div class="card-back">
                                                      <figure>
                                                        <div class="img-bg"></div>
                                                        <img src="/assets/images/portfolio-01.jpg" alt="Brohm Lake">
                                                      </figure>
                                                
                                                      <button class="buttonCourses course-content"><a href="/myCoursesInfo/<%=unSubscribedCourseDetail.counter%>">محتوى الكورس </a></button>
                                                
                                                      <div class="design-container">
                                                        <span class="design design--1"></span>
                                                        <span class="design design--2"></span>
                                                        <span class="design design--3"></span>
                                                        <span class="design design--4"></span>
                                                        <span class="design design--5"></span>
                                                        <span class="design design--6"></span>
                                                        <span class="design design--7"></span>
                                                        <span class="design design--8"></span>
                                                      </div>
                                                    </div>
                                                
                                                  </div>

                                      
                                                </div>
                                                  <!-- for a course a student did subscribe with -->
              
                                      <% } %>
                                <% } %>


                                
                        </div>
                        
                        </div>
                    </div>
              </div>
            </div>
          </div>
        <%- include("partials/footer.ejs") -%>

      </div>


        <%- include("partials/jsScripts.ejs") -%>
        
        
        <!-- write here custom js scripts to handle events... 
          /
          /
          /
        if any error happend try to change the order and write your script below the jsScripts -->
        