<%- include("partials/htmlHead.ejs") -%>

<title>كورساتي</title>

    <link rel="stylesheet" href="/assets/css/myCoursesStyle.css">

    

</head>

<body>
  

<%- include("partials/preloader.ejs") -%>
<%- include("partials/preheader.ejs") -%>
<%- include("partials/navbar.ejs") -%>



           <!-- to show list of courses if user is not subscribed yet -->

          <div id="portfolio" class="our-portfolio section">
            <div class="container" >
              <div class="row" style="direction: rtl;">
                <div class="col-lg-5">
                  <div class="section-heading wow fadeInLeft"  data-wow-duration="1s" data-wow-delay="0.3s">
                    <!-- <h6>اخر ما تمت</h6> -->
                    <h4 style="direction: rtl;">أنت حاليا غير مشترك في أي من الكورسات <br> <em>اختر كورس من الكورسات للحجز</em></h4>
                    <!-- <div class="line-dec"></div> -->
                  </div>
                </div>
              </div>
            </div>



          <div class="wow fadeInLeft" data-wow-duration="1s" data-wow-delay="0.5s">

            <div style="margin: 0px auto; width: 70%; display: flex; justify-content: space-around; flex-wrap: wrap; align-items: center;">
            <!-- flip-card-container -->
          
                                  <div class="wow fadeInDown fadeEffect" data-wow-duration="1s" data-wow-delay="0.5s">

                                    <div class="flip-card-container" style="--hue: 220">
                                      <div class="flip-card">
                                    
                                        <div class="card-front">
                                          <figure>
                                            <div class="img-bg"></div>
                                            <img src="/assets/images/portfolio-01.jpg" alt="Brohm Lake">
                                            <figcaption> سنة : <%= oneCourseDetails.educationalLevel %> / ترم : <%= oneCourseDetails.semester %> </figcaption>
                                          </figure>
                                    
                                          <ul class="ulCourses">
                                            <li class="liCourses courseName"> اسم الكورس :  <%= oneCourseDetails.courseName %> </li>
                                            <li class="liCourses courseDescription">الوصف :  <%= oneCourseDetails.courseDescription %></li>
                                            <li class="liCourses CourseLevel"> السنة الدراسية :  <%= oneCourseDetails.educationalLevel %> ثانوي</li>
                                            <li class="liCourses CourseSemester">الترم :  <%= oneCourseDetails.semester %></li>
                                            <li class="liCourses coursePrice">السعر :  <%=   oneCourseDetails.price   %>     جنيه مصري    </li>
                                            <li class="liCourses coursePrice">السعر :  <%=   oneCourseDetails.createdAt   %>     جنيه مصري    </li>
                                          </ul>
                                        </div>
                                    
                                        <div class="card-back">
                                          <figure>
                                            <div class="img-bg"></div>
                                            <img src="/assets/images/portfolio-01.jpg" alt="Brohm Lake">
                                          </figure>
                                    
                                          <button class="buttonCourses course-subs" type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">احجز الآن</button>
                                          
                                          <!-- Modal -->
                                          

                                          <div class="design-container">
                                            <span class="design design--1"></span>
                                            <span class="design design--2"></span>
                                            <span class="design design--3"></span>
                                            <span class="design design--4"></span>
                                            <span class="design design--5"></span>
                                            <span class="design design--6"></span>
                                            <span class="design design--7"></span>
                                            <span class="design design--8"></span>
                                          </div>
                                        </div>
                                    
                                      </div>

                          
                                    </div>


                         
                    
            </div>
            
            </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">هل تريد الاشتراك الآن</h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
              </div>
              <div class="modal-body">
                سيتم الاشتراك الآن في كورس <%= oneCourseDetails.courseName %>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">إغلاق</button>
                <button type="button" class="btn btn-primary"><a href="/myCoursesInfo/<%=oneCourseDetails.counter%>/subscribed">اشترك الآن</a></button>
              </div>
            </div>
          </div>
        </div>


      </div>

        <%- include("partials/footer.ejs") -%>

        <%- include("partials/jsScripts.ejs") -%>
        
        <!-- write here custom js scripts to handle events... 
          /
          /
          /
        if any error happend try to change the order and write your script below the jsScripts -->
        