<%- include("partials/htmlHead.ejs") -%>

<title>الفاتورة</title>

  
  </head>

<body>
  
  <div class="container-fluid-xxl bg-white p-0">
    <%- include("partials/preloader.ejs") -%>
    

    <!-- Navbar & Hero Start -->
    <div class="container-fluid-xxl position-relative mb-5 p-0" >
        
        <%- include("partials/navbar.ejs") -%>
        
        <div class="container-fluid-xxl py-5 hero-header">
            <span class="dotsUpToDown animated infinite fadeInDown"></span>
            <span class="dotsDownToUp animated infinite fadeInUp"></span>
            <% if(!user) { %>
            <span class="circlesRotate animated infinite fadeIn d-xl-block d-sm-none"></span>
            <% } %>  
            
            <span class="arrowsUp animated infinite fadeInUpBig"></span>
            <span class="waves"></span>
            <div class="container-fluid my-5 py-5 px-lg-5">
                <div class="row g-5 py-5">

                  <div class="col-lg-6 text-center welcome text-lg-start d-flex justify-content-center align-content-center flex-column">
                    
                  </div>
                  <div class="col-lg-6 text-center text-lg-start">
                      <img class="img-fluid mrimg" src="/assets/img/1 copy.webp" alt="">
                  </div>

                  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" dir="rtl">
                    <div class="modal-dialog">
                      <div class="modal-content">
                        <div class="modal-header">
                          <h1 class="modal-title fs-5" id="exampleModalLabel">هل تريد الاشتراك الآن</h1>
                          <button type="button" class="btn-close" style="position: relative; right: 130px;" data-bs-dismiss="modal" aria-label="Close"></button>
                        </div>
                        <div class="modal-body bg-info-subtle" style="color: black;">
                          سيتم الاشتراك الآن في كورس <%= oneCourseDetails.courseName %>
                        </div>
                        <div class="modal-footer">
                          <button type="button" class="btn btn-danger" data-bs-dismiss="modal">إغلاق</button>
                          <button type="button" class="btn btn-success"><a href="/myCoursesInfo/<%=oneCourseDetails.counter%>/subscribed" style="color: white;">اشترك الآن</a></button>
                        </div>
                      </div>
                    </div>
                  </div>

                </div>
            </div>
        </div>
    </div>
    <!-- Navbar & Hero End -->

    <%- include("partials/footer.ejs") -%>
  
  </div>

    <%- include("partials/jsScripts.ejs") -%>
    