    <%- include("partials/htmlHead.ejs") -%>

    <title>المذكرات</title>
    
</head>

<body>


    <!-- container of website -->
    <div class="container-fluid-xxl bg-white p-0">
        <%- include("partials/preloader.ejs") -%>
        

        <!-- Navbar & Hero Start -->
        <div class="container-fluid-xxl w-100 position-relative mb-sm-0 p-0">  
            <%- include("partials/navbar.ejs") -%>
            
            <div class="container-fluid-xxl w-100 py-5 hero-header">
                <span class="dotsUpToDown animate__animated animate__infinite animate__slow animate__fadeInDown"></span>
                <span class="dotsDownToUp animate__animated animate__infinite animate__fadeOutUp animate__delay-3s"></span>
                <% if(!user) { %>
                <span class="circlesRotate animate__animated animate__infinite animate__fadeIn d-xl-block d-sm-none"></span>
                <% } %>  
                
                <span class="arrowsUp animate__animated animate__infinite animate__fadeInUpBig"></span>
                <span class="waves"></span>
                <div class="container-fluid my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">

                        <div class="col-lg-6 text-center welcome text-lg-start d-flex justify-content-center align-content-center flex-column ">

                            <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1"> مذكراتي</p>
                            <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1"> الرجاء ملئ البيانات بالاسفل</p>

                            <% if(!user) { %>
                              <a href="/login" class="btn btnheadstyle mainSubscBtn py-sm-3 px-sm-5 rounded-pill me-3 animate__animated animate__slideInLeft fs-3"><b>اشترك الان</b> </a>
                              <!-- <a href="" class="btn btnheadstyle  py-sm-3 px-sm-5 rounded-pill animated slideInRight"> </a> -->
                            <% } %>  
                            <p class="headtext mb-4 animated zoomIn fw-bold fs-1"> تفاصيل المذكرة </p>
                    
                            <table class="table text-center table-info table-striped">
                              <thead>
                                <tr class="fw-bolder fs-5">
                                  <th scope="col">#</th>
                                  <th scope="col">اسم الكورس</th>
                                  <th scope="col">السنة الدراسة</th>
                                  <th scope="col">السعر</th>
                                </tr>
                              </thead>
                              <tbody>
                                <tr>
                                  <th scope="row">1</th>
                                  <td><%= oneProductDetails.productName %></td>
                                  <td><%= oneProductDetails.educationalLevel %> ثانوي</td>
                                  <td><%= oneProductDetails.productPrice %> جنيه</td>
                                </tr>
                                
                              </tbody>
                            </table>    
                        
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid mrimg mrimgresponsive animate__animated animate__fadeInUp" src="/assets/img/1 copy.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

        <div class="container-fluid-xxl position-relative mb-0 p-0">
            <div class="container-fluid-xxl py-5 intro-header">
                <span class="introTopRight d-xxl-block" style="z-index: 1000;"></span>
                <span class="introBottomLeft "></span>
                <span class="dotsDownToUpIntro animate__animated animate__infinite animate__fadeInUp"></span>
                  
                <!-- data-wow-delay="0.6s" -->
                <p class="introHeadline mb-4 wow animate__animated animate__fadeInRightBig fw-bold" data-wow-offset="350" > البيانات</p>
                


                <form class="p-5 mt-4 g-3" dir="rtl" style="width: 80%;"> 
                    
                            <select class="form-select form-select-lg mb-2 mt-5" aria-label="Default select example">
                                <option selected>اختر المذكرة من هنا</option>
                                <option value="1">One</option>
                                <option value="2">Two</option>
                                <option value="3">Three</option>
                            </select>
                        
                            <input type="text" class="form-control mb-3" placeholder="سعر المذكرة" disabled id="exampleInputEmail1" aria-describedby="emailHelp">
                       
                    <div class="row mb-3">
                        <div class="col">
                            <% if(user){ %>
                        <input type="text" class="form-control" value="<%= user.firstName %>" disabled placeholder="الاسم الأول" aria-label="First name">
                            <%}%>
                        </div>
                        <div class="col">
                            <% if(user){ %>
                                <input type="text" class="form-control" value="<%= user.lastName %>" disabled placeholder="الاسم الأول" aria-label="First name">
                            <%}%>
                        </div>
                    </div>
                    <div class="row mb-5">
                        <% if(!user){ %>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="الاسم الأول" aria-label="First name">
                        </div>
                        <%}%>
                        <% if(!user){ %>
                        <div class="col">
                          <input type="text" class="form-control" placeholder="الاسم الاخير" aria-label="Last name">
                        </div>
                        <%}%>

                    </div>
                    <div class="row mb-3">
                        <div class="col col-lg-6 col-md-12" style="z-index: 99999;">
                            <select class="form-select form-select-lg mb-2" aria-label="Default select example">
                                <option selected>محافظة</option>
                                <option value="1">كفر الشيخ</option>
                                <!-- <option value="2">Two</option>
                                <option value="3">Three</option> -->
                            </select>                        
                        </div>
                        <div class="col col-lg-6 col-md-12" style="z-index: 99999;">
                            <select class="form-select form-select-lg mb-2" aria-label="Default select example">
                                <option selected>مركز</option>
                                <option value="1">قلين</option>
                                <!-- <option value="2">Two</option>
                                <option value="3">Three</option> -->
                            </select>                         
                        </div>
                    </div>
                    <div class="mb-4">
                      <label for="exampleInputEmail1" class="form-label">العنوان التفصيلي</label>
                      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                    </div>
                    <% if(user){%>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">رقم الموبايل الأساسي</label>
                            <input type="text" class="form-control" value="<%= user.phoneNumber %>" disabled id="exampleInputPassword1">
                        </div>
                        <div class="mb-3">
                            <label for="exampleInputPassword1" class="form-label">رقم الموبايل الاحتياطي</label>
                            <input type="text" class="form-control" value="<%= user.parentPhoneNumber %>" disabled id="exampleInputPassword1">
                        </div>
                    <%}%>
                    <% if(!user){%>
                    <div class="mb-3">
                      <label for="exampleInputPassword1" class="form-label">رقم الموبايل الأساسي</label>
                      <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <div class="mb-3">
                        <label for="exampleInputPassword1" class="form-label">رقم الموبايل الاحتياطي</label>
                        <input type="text" class="form-control" id="exampleInputPassword1">
                    </div>
                    <%}%>
                    <button type="submit" class="btn btn-lg btn-primary" style="z-index: 99999;">احجز الآن</button>
                  </form>
                
    
                
            </div>
        </div>


        <%- include("partials/footer.ejs") -%>

        <!-- Back to Top -->
        <a href="#" class="btn back-to-top btn-lg btn-lg-square  pt-2" aria-label="up"></a>
    </div>

    <%- include("partials/jsScripts.ejs") -%>









