<%- include("partials/htmlHead.ejs") -%>

    <title>مذكراتي</title>
    
</head>

<body>


    <!-- container of website -->
    <div class="container-fluid-xxl bg-white p-0">
        <%- include("partials/preloader.ejs") -%>
        

        <!-- Navbar & Hero Start -->
        <div class="container-fluid-xxl w-100 position-relative mb-sm-0 p-0">
            
            <%- include("partials/navbar.ejs") -%>
            
            <div class="container-fluid-xxl w-100 py-5 hero-header">
                <span class="dotsUpToDown animate__animated animate__infinite animate__slow animate__fadeInDown"></span>
                <span class="dotsDownToUp animate__animated animate__infinite animate__fadeOutUp animate__delay-3s"></span>
                <% if(!user) { %>
                <span class="circlesRotate animate__animated animate__infinite animate__fadeIn d-xl-block d-sm-none"></span>
                <% } %>  
                
                <span class="arrowsUp animate__animated animate__infinite animate__fadeInUpBig"></span>
                <span class="waves"></span>
                <div class="container-fluid my-5 py-5 px-lg-5">
                    <div class="row g-5 py-5">

                        <div class="col-lg-6 text-center welcome text-lg-start d-flex justify-content-center align-content-center flex-column ">
                            <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">مرحبا بكم في  </p>
                            <p class="headtext pb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl">منصة Hyper Physics للفيزياء </p>
                            <p class="headtext animate__animated animate__repeat-2 animate__flash fw-bold " dir="rtl" style="position: relative; bottom: 35px; font-size: 2.5rem;">م/ محمد رمضان</p>
                        <% if(products.length === 0) { %>
                            <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl"> <em>قريبا...</em></p>
                        <% } else { %>
                            <p class="headtext mb-4 animate__animated animate__zoomIn fw-bold fs-1" dir="rtl"> <em>اختر مذكرة من المذكرات الآتية</em></p>
                       <% } %>
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                            <img class="img-fluid mrimg mrimgresponsive animate__animated animate__fadeInUp" src="/assets/img/1 copy.webp" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->

    <!-- intro -->
    <% if(products.length !== 0) { %>
    <div class="container-fluid-xxl position-relative mb-0 p-0" style="visibility: none;">
        <div class="container-fluid-xxl py-5 intro-header d-flex justify-content-center align-content-center" style="height: 100%; width: 100%;">
            <span class="introTopRight d-xxl-block" style="z-index: 1000;"></span>
            <span class="introBottomLeft "></span>
            <span class="dotsDownToUpIntro animate__animated animate__infinite animate__fadeInUp"></span>
              
            <div class="carouselIntro wow animate__animated animate__fadeInUp fw-bold col-12 mb-5" style="width: 80%; min-height: 65vh; position: relative; left: 0%;" data-wow-offset="350">
                <div id="myCarousel" class="carousel slide d-flex justify-content-center col-12 align-content-center d-flex justify-content-around align-content-around flex-wrap mb-5" style="width: 100%; min-height: 65vh; position: relative; left: 0%;"  data-bs-ride="carousel">

                   <% for (let product of products) {%>
                  
                                <div class="card m-5 col-4" style="width: 18rem;" dir="rtl">
                                    <img src="<%= product.LinkOfPhotoOfProduct %>" style="border-bottom: 1px solid black;" class="card-img-top" alt="...">
                                    <div class="card-body">
                                      <h5 class="card-title"><%= product.productName %></h5>
                                      <p class="card-text"> <%= product.productDescription %> </p>
                                      <p class="card-text"> <%= product.educationalLevel %> ثانوي </p>
                                      <p class="card-text"> <%= product.productPrice %> جنيه مصري </p>
                                      <a href="/myProductsInfo/<%=product.counter%>" class="btn btn-primary">احجز الآن</a>
                                    </div>
                                  </div>    

                   <% } %>
                </div>
            </div>
        </div>
    </div>
    <% } %>
        

        <%- include("partials/footer.ejs") -%>

        <!-- Back to Top -->
        <a href="#" class="btn back-to-top btn-lg btn-lg-square  pt-2" aria-label="up"></a>
    </div>

    <%- include("partials/jsScripts.ejs") -%>
