<%- include("partials/htmlHead.ejs") -%>

    <title>بروفايلي</title>

    <link rel="stylesheet" href="/assets/css/profileStyle.css">

</head>

<body>
    <div class="container-xxl bg-white p-0">
       


        <!-- Navbar & Hero Start -->
        <div class="container-xxl position-relative p-0">
           
        <%- include("partials/preloader.ejs") -%>
        <%- include("partials/navbar.ejs") -%>

            

            <div class="container-xxl py-5 hero-header-login mb-5 d-flex justify-content-around align-content-around">
                
              <div class="container text-center my-5 py-5 px-lg-5">
                   
                  <div class="row g-5 py-5">
                      
                      <div class="col-lg-12 text-center text-lg-start" dir="rtl">
                        <div class="login-wrap" dir="rtl">
                          <div class="login-html text-center" dir="rtl">
                            <input id="tab-1" type="radio" name="tab" class="sign-in" checked><label for="tab-1" class="tab">بروفايلي</label>
                            <input id="tab-2" type="radio" name="tab" class="for-pwd"><label for="tab-2" class="tab"></label>
                            <div class="login-form" dir="rtl">
                              <div class="sign-in-htm" dir="rtl">
                                <form action="/" class="text-center">
                                  <div class="group end-100" dir="rtl">
                                    <hr>
                                    <br>
                                    <label class="name">اسم المستخدم : </label>
                                      <br>
                                      <br>
                                    <span><%= user.firstName %> <%= user.lastName %> </span>
                                  </div>
                                  <div class="group">
                                    <label >الإيميل: </label>
                                      <br>
                                      <br>
                                    <span class="email"><%= user.email %> </span>
                                  </div>
                                  <div class="group">
                                    <label for="educationalLevel" class="label"> السنة الدراسية : </label>
                                      <br>
                                      
                                    <span><%= user.educationalLevel %>  ثانوي </span>
                                  </div>
                                  <div class="group">
                                    <label for="phoneNumber" class="label"> رقم موبايل الطالب: </label>
                                      <br>
                                    <span><%= user.phoneNumber %> </span>
                                  </div>
                                  <div class="group">
                                    <label for="parentPhoneNumber" class="label">رقم موبايل ولي الأمر : </label>
                                      <br>
                                    <span><%= user.parentPhoneNumber %> </span>
                                  </div>
                                </div>
                                </form>
                                
                        
                            </div>
                        
                          </div>
                        </div>
                        
                           
                        
                        </div>
                        <div class="col-lg-6 text-center text-lg-start">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 d-lg-block d-none text-center text-lg-start animated lightSpeedIn" style="position: relative; top: 100px; ">
                  <img class="img-fluid scientist" style="position: relative; top: 250px;" src="/assets/img/24784265_vif2_4m00_220302-removebg-preview.webp" alt="">
                </div>
            </div>
        </div>
        <!-- Navbar & Hero End -->
               
        <!-- Footer End -->
        <%- include("partials/footer.ejs") -%>
        <%- include("partials/jsScripts.ejs") -%>
        
      <script src="/assets/signupSelectStyle.js"></script>


</body>

</html>